*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f5f8;
  margin-bottom: 5rem;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 6rem 0;
  font-size: 25px;
  opacity: 80%;
  letter-spacing: 2px;
}

.underline{
  display: flex;
  background-color: brown;
  width: 7rem;
  height: 3px;
}

.profile-container{
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.profile{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  place-items: center;
  background-color: #fff;
  height: 18rem;
  width: 17rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

img{
  height: 135px;
  max-width: 135px;
  border-radius: 50%;
  margin-top: 2rem;
}

.profile span{
  color: #617d98;
  text-transform: capitalize;
  margin: 10px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1.5px;
}

a{
  list-style-type: none;
  text-decoration: none;
}

.btn{
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1.4px;
  border-radius: 15px;
  border: none;
  background-color: #49a6e9;
  height: auto;
  padding: 7px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}

.pages{
  display: flex;
  margin-top: 5rem;
  justify-content: center; 
}

.page-btn{
  margin: 0.45rem;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #8bcbf9;
  height: 30px;
  width: 30px;
  cursor: pointer;

}

.active{
  background-color: #063251;
  color: white;
}




@media(max-width: 1200px){
  .profile-container{
    grid-template-columns: auto auto auto;
  }
  
}

@media(max-width: 900px){
  .profile-container{
    grid-template-columns: auto auto;
  }
  .profile{
    width: 18rem;
  }
}

@media(max-width: 610px){
  .profile-container{
    grid-template-columns: auto;
  }

  .profile{
    width: 20rem;
  }
}